[Unit]
Description=Prune docker system

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune -f
ExecStart=/usr/bin/docker buildx prune -f
Restart=no
RestartSec=10s
