[Unit]
Description=Weekly Docker system prune

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune -f
ExecStart=/usr/bin/docker buildx prune -f