[Unit]
Description=btrfs snapshot system timer
After=time-set.target home-vacation.mount
Wants=time-set.target home-vacation.mount

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
